# Virtual environment
.venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files (created during development)
*.tmp
*.swp
TODO.md
NOTE.md

# Model checkpoints
model/*.pth
CharCNN/model/*.pth
checkpoints/


# trash (temp files/folders created during development)
model/*.csv

# Datasets (ignore all except .txt files)
data/*
!data/*_clean.txt
!data/*.txt

generated_outputs/

Backup/
