# --- Core Machine Learning & Vision ---
torch
torchvision
numpy
opencv-python
Pillow>=10.0.0

# --- User Interface ---
streamlit

# ---    Evaluation & Metrics ---
jiwer

# --- Data Generation & Utilities ---
tqdm
fontTools
datasets
kagglehub